# Server Configuration
PORT=8443
NODE_ENV=development
FRONTEND_ORIGIN=https://localhost:8443

# JSON Web Token Secret
JWT_SECRET=

# Database Connection Details
DB_HOST=nexus-db
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

# Redis Connection Details
REDIS_HOST=redis
REDIS_PORT=6379

# Vault Configuration
VAULT_ENDPOINT=
VAULT_TOKEN=

# Security Configuration
BLOCKED_IPS=
